.LatestVediosComponent {
  @media screen and (mix-width: 720px){
      .vedio-list {
        //具体一个vedio
        .vedio-item {
          float: left;
          margin-right: 10px;
          cursor: pointer;
          padding-right: 10px;
          //vedio的图片
          .vedio-item-img {
            width: 224px;
            height: 317px;
          }
          //vedio标题
          .vedio-item-title {
            line-height: 35px;
            text-align: center;
            white-space: nowrap;
            width: 214px;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
      .vedio-container {
        height: 300px;
        width: 500px;
        margin: 0 auto;
        margin-top: 42px;
      }
    }

  @media screen and (max-width: 720px){
    .vedio-list {
      //display: none;
      //具体一个vedio
      .vedio-item {
        float: left;
        padding-right: 10px;
        cursor: pointer;
        width: 50%;
        //vedio的图片
        .vedio-item-img {
          width: 100%;
          height: auto;
          img{
            width: 100%;
          }
        }
        //vedio标题
        .vedio-item-title {
          line-height: 35px;
          text-align: center;
          white-space: nowrap;
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
    .vedio-container {
      height: 300px;
      width: 500px;
      margin: 0 auto;
      margin-top: 42px;
    }
  }
}
