.PlayerVediosComponent{
  margin-top: 15px;
  @media screen and (mix-width: 720px) {
    .vedio-container {
      height: 300px;
      width: 500px;
      margin: 0 auto;
      margin-top: 42px;
    }
  }

  @media screen and (max-width: 720px){
    .vedio-container {
      height: 300px;
      width: 100%;
      margin: 0 auto;
      margin-top: 42px;
    }
  }
}
